chromobius==1.1.1
color_code_stim==1.1.1
hypothesis==6.152.1
ipython==9.12.0
matplotlib==3.10.8
networkx==3.1
numpy==2.4.4
pymatching==2.3.1
pytest==9.0.3
PyYAML==6.0.3
scipy==1.17.1
stim==1.15.0
svgwrite==1.4.3
tqdm==4.67.3
